<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365599050963-6nho2e8t1jdu2cf9fl1i9avtm23c5el7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365599050963-6nho2e8t1jdu2cf9fl1i9avtm23c5el7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365599050963-nom5vcam30cmi1qt1kvbbb1f2dpdbjg5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-vua0gwu2rJL8XfZrios-qxDzOwwkO4</string>
	<key>GCM_SENDER_ID</key>
	<string>365599050963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healtor</string>
	<key>PROJECT_ID</key>
	<string>healtor-32059</string>
	<key>STORAGE_BUCKET</key>
	<string>healtor-32059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365599050963:ios:f15db625fa58aa07ec9826</string>
</dict>
</plist>